<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <%= form.number_field :rent %> 円
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <%= form.number_field :age %> 年
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remark %>
  </div>

  <hr>
  <%= form.fields_for :nearest_stations do |m| %>
  <h3>最寄駅<%= m.index + 1 %></h3>
  <div class="field">
    <%= m.label :line, "路線名" %>
    <%= m.text_field :line %>
  </div>
 
  <div class="field">
    <%= m.label :station, "駅名" %>
    <%= m.text_field :station %>
  </div>

  <div class="field">
    <%= m.label :on_foot, "徒歩分数" %>
    <%= m.text_field :on_foot %> 分
  </div>
  <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>
    
<% end %>